// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as DtgAgentSdk from "../../../index.js";

export declare namespace CamerasClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Camera (RTSP) management
 */
export class CamerasClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CamerasClient.Options>;

    constructor(options: CamerasClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {CamerasClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link DtgAgentSdk.UnauthorizedError}
     * @throws {@link DtgAgentSdk.TooManyRequestsError}
     * @throws {@link errors.DtgAgentSdkError}
     * @throws {@link errors.DtgAgentSdkTimeoutError}
     *
     * @example
     *     await client.cameras.listCameras()
     */
    public listCameras(
        requestOptions?: CamerasClient.RequestOptions,
    ): core.HttpResponsePromise<DtgAgentSdk.ListCamerasResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listCameras(requestOptions));
    }

    private async __listCameras(
        requestOptions?: CamerasClient.RequestOptions,
    ): Promise<core.WithRawResponse<DtgAgentSdk.ListCamerasResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.DtgAgentSdkEnvironment.Production,
                "api/v1/cameras",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as DtgAgentSdk.ListCamerasResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new DtgAgentSdk.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new DtgAgentSdk.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.DtgAgentSdkError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/v1/cameras");
    }

    /**
     * @param {DtgAgentSdk.CameraCreateRequest} request
     * @param {CamerasClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link DtgAgentSdk.BadRequestError}
     * @throws {@link DtgAgentSdk.UnauthorizedError}
     * @throws {@link DtgAgentSdk.ForbiddenError}
     * @throws {@link DtgAgentSdk.ContentTooLargeError}
     * @throws {@link DtgAgentSdk.TooManyRequestsError}
     * @throws {@link errors.DtgAgentSdkError}
     * @throws {@link errors.DtgAgentSdkTimeoutError}
     *
     * @example
     *     await client.cameras.createCamera({
     *         display_name: "display_name",
     *         vendor: "generic_rtsp",
     *         rtsp_url: "rtsp_url"
     *     })
     */
    public createCamera(
        request: DtgAgentSdk.CameraCreateRequest,
        requestOptions?: CamerasClient.RequestOptions,
    ): core.HttpResponsePromise<DtgAgentSdk.CreateCameraResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createCamera(request, requestOptions));
    }

    private async __createCamera(
        request: DtgAgentSdk.CameraCreateRequest,
        requestOptions?: CamerasClient.RequestOptions,
    ): Promise<core.WithRawResponse<DtgAgentSdk.CreateCameraResponse>> {
        const { "Idempotency-Key": idempotencyKey, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Idempotency-Key": idempotencyKey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.DtgAgentSdkEnvironment.Production,
                "api/v1/cameras",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as DtgAgentSdk.CreateCameraResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new DtgAgentSdk.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new DtgAgentSdk.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new DtgAgentSdk.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 413:
                    throw new DtgAgentSdk.ContentTooLargeError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new DtgAgentSdk.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.DtgAgentSdkError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/v1/cameras");
    }

    /**
     * @param {DtgAgentSdk.GetCameraRequest} request
     * @param {CamerasClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link DtgAgentSdk.UnauthorizedError}
     * @throws {@link DtgAgentSdk.NotFoundError}
     * @throws {@link errors.DtgAgentSdkError}
     * @throws {@link errors.DtgAgentSdkTimeoutError}
     *
     * @example
     *     await client.cameras.getCamera({
     *         id: "id"
     *     })
     */
    public getCamera(
        request: DtgAgentSdk.GetCameraRequest,
        requestOptions?: CamerasClient.RequestOptions,
    ): core.HttpResponsePromise<DtgAgentSdk.GetCameraResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getCamera(request, requestOptions));
    }

    private async __getCamera(
        request: DtgAgentSdk.GetCameraRequest,
        requestOptions?: CamerasClient.RequestOptions,
    ): Promise<core.WithRawResponse<DtgAgentSdk.GetCameraResponse>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.DtgAgentSdkEnvironment.Production,
                `api/v1/cameras/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as DtgAgentSdk.GetCameraResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new DtgAgentSdk.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new DtgAgentSdk.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.DtgAgentSdkError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/v1/cameras/{id}");
    }

    /**
     * @param {DtgAgentSdk.DeleteCameraRequest} request
     * @param {CamerasClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link DtgAgentSdk.UnauthorizedError}
     * @throws {@link DtgAgentSdk.ForbiddenError}
     * @throws {@link DtgAgentSdk.NotFoundError}
     * @throws {@link errors.DtgAgentSdkError}
     * @throws {@link errors.DtgAgentSdkTimeoutError}
     *
     * @example
     *     await client.cameras.deleteCamera({
     *         id: "id"
     *     })
     */
    public deleteCamera(
        request: DtgAgentSdk.DeleteCameraRequest,
        requestOptions?: CamerasClient.RequestOptions,
    ): core.HttpResponsePromise<DtgAgentSdk.DeleteCameraResponse> {
        return core.HttpResponsePromise.fromPromise(this.__deleteCamera(request, requestOptions));
    }

    private async __deleteCamera(
        request: DtgAgentSdk.DeleteCameraRequest,
        requestOptions?: CamerasClient.RequestOptions,
    ): Promise<core.WithRawResponse<DtgAgentSdk.DeleteCameraResponse>> {
        const { id, "Idempotency-Key": idempotencyKey } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Idempotency-Key": idempotencyKey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.DtgAgentSdkEnvironment.Production,
                `api/v1/cameras/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as DtgAgentSdk.DeleteCameraResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new DtgAgentSdk.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new DtgAgentSdk.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new DtgAgentSdk.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.DtgAgentSdkError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/api/v1/cameras/{id}");
    }

    /**
     * @param {DtgAgentSdk.CameraUpdateRequest} request
     * @param {CamerasClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link DtgAgentSdk.BadRequestError}
     * @throws {@link DtgAgentSdk.UnauthorizedError}
     * @throws {@link DtgAgentSdk.ForbiddenError}
     * @throws {@link DtgAgentSdk.NotFoundError}
     * @throws {@link DtgAgentSdk.TooManyRequestsError}
     * @throws {@link errors.DtgAgentSdkError}
     * @throws {@link errors.DtgAgentSdkTimeoutError}
     *
     * @example
     *     await client.cameras.updateCamera({
     *         id: "id"
     *     })
     */
    public updateCamera(
        request: DtgAgentSdk.CameraUpdateRequest,
        requestOptions?: CamerasClient.RequestOptions,
    ): core.HttpResponsePromise<DtgAgentSdk.UpdateCameraResponse> {
        return core.HttpResponsePromise.fromPromise(this.__updateCamera(request, requestOptions));
    }

    private async __updateCamera(
        request: DtgAgentSdk.CameraUpdateRequest,
        requestOptions?: CamerasClient.RequestOptions,
    ): Promise<core.WithRawResponse<DtgAgentSdk.UpdateCameraResponse>> {
        const { id, "Idempotency-Key": idempotencyKey, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Idempotency-Key": idempotencyKey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.DtgAgentSdkEnvironment.Production,
                `api/v1/cameras/${core.url.encodePathParam(id)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as DtgAgentSdk.UpdateCameraResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new DtgAgentSdk.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new DtgAgentSdk.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new DtgAgentSdk.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new DtgAgentSdk.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new DtgAgentSdk.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.DtgAgentSdkError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PATCH", "/api/v1/cameras/{id}");
    }
}
