// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as DtgAgentSdk from "../../../index.js";

export declare namespace OrganizationsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Organization management
 */
export class OrganizationsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<OrganizationsClient.Options>;

    constructor(options: OrganizationsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {DtgAgentSdk.GetOrganizationRequest} request
     * @param {OrganizationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.DtgAgentSdkError}
     * @throws {@link errors.DtgAgentSdkTimeoutError}
     *
     * @example
     *     await client.organizations.getOrganization({
     *         id: "id"
     *     })
     */
    public getOrganization(
        request: DtgAgentSdk.GetOrganizationRequest,
        requestOptions?: OrganizationsClient.RequestOptions,
    ): core.HttpResponsePromise<DtgAgentSdk.GetOrganizationResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getOrganization(request, requestOptions));
    }

    private async __getOrganization(
        request: DtgAgentSdk.GetOrganizationRequest,
        requestOptions?: OrganizationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<DtgAgentSdk.GetOrganizationResponse>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.DtgAgentSdkEnvironment.Production,
                `api/v1/organizations/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as DtgAgentSdk.GetOrganizationResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.DtgAgentSdkError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/v1/organizations/{id}");
    }

    /**
     * @param {DtgAgentSdk.ListOrganizationMembersRequest} request
     * @param {OrganizationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.DtgAgentSdkError}
     * @throws {@link errors.DtgAgentSdkTimeoutError}
     *
     * @example
     *     await client.organizations.listOrganizationMembers({
     *         id: "id"
     *     })
     */
    public listOrganizationMembers(
        request: DtgAgentSdk.ListOrganizationMembersRequest,
        requestOptions?: OrganizationsClient.RequestOptions,
    ): core.HttpResponsePromise<DtgAgentSdk.ListOrganizationMembersResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listOrganizationMembers(request, requestOptions));
    }

    private async __listOrganizationMembers(
        request: DtgAgentSdk.ListOrganizationMembersRequest,
        requestOptions?: OrganizationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<DtgAgentSdk.ListOrganizationMembersResponse>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.DtgAgentSdkEnvironment.Production,
                `api/v1/organizations/${core.url.encodePathParam(id)}/members`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as DtgAgentSdk.ListOrganizationMembersResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.DtgAgentSdkError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v1/organizations/{id}/members",
        );
    }
}
