// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as DtgAgentSdk from "../../../index.js";

export declare namespace KnowledgeClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Knowledge / RAG management
 */
export class KnowledgeClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<KnowledgeClient.Options>;

    constructor(options: KnowledgeClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {KnowledgeClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.DtgAgentSdkError}
     * @throws {@link errors.DtgAgentSdkTimeoutError}
     *
     * @example
     *     await client.knowledge.listKnowledge()
     */
    public listKnowledge(
        requestOptions?: KnowledgeClient.RequestOptions,
    ): core.HttpResponsePromise<DtgAgentSdk.ListKnowledgeResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listKnowledge(requestOptions));
    }

    private async __listKnowledge(
        requestOptions?: KnowledgeClient.RequestOptions,
    ): Promise<core.WithRawResponse<DtgAgentSdk.ListKnowledgeResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.DtgAgentSdkEnvironment.Production,
                "api/v1/knowledge",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as DtgAgentSdk.ListKnowledgeResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.DtgAgentSdkError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/v1/knowledge");
    }

    /**
     * @param {DtgAgentSdk.KnowledgeCreateRequest} request
     * @param {KnowledgeClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.DtgAgentSdkError}
     * @throws {@link errors.DtgAgentSdkTimeoutError}
     *
     * @example
     *     await client.knowledge.createKnowledge({
     *         title: "title",
     *         content: "content"
     *     })
     */
    public createKnowledge(
        request: DtgAgentSdk.KnowledgeCreateRequest,
        requestOptions?: KnowledgeClient.RequestOptions,
    ): core.HttpResponsePromise<DtgAgentSdk.CreateKnowledgeResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createKnowledge(request, requestOptions));
    }

    private async __createKnowledge(
        request: DtgAgentSdk.KnowledgeCreateRequest,
        requestOptions?: KnowledgeClient.RequestOptions,
    ): Promise<core.WithRawResponse<DtgAgentSdk.CreateKnowledgeResponse>> {
        const { "Idempotency-Key": idempotencyKey, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Idempotency-Key": idempotencyKey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.DtgAgentSdkEnvironment.Production,
                "api/v1/knowledge",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as DtgAgentSdk.CreateKnowledgeResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.DtgAgentSdkError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/v1/knowledge");
    }

    /**
     * @param {DtgAgentSdk.GetKnowledgeRequest} request
     * @param {KnowledgeClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.DtgAgentSdkError}
     * @throws {@link errors.DtgAgentSdkTimeoutError}
     *
     * @example
     *     await client.knowledge.getKnowledge({
     *         id: "id"
     *     })
     */
    public getKnowledge(
        request: DtgAgentSdk.GetKnowledgeRequest,
        requestOptions?: KnowledgeClient.RequestOptions,
    ): core.HttpResponsePromise<DtgAgentSdk.GetKnowledgeResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getKnowledge(request, requestOptions));
    }

    private async __getKnowledge(
        request: DtgAgentSdk.GetKnowledgeRequest,
        requestOptions?: KnowledgeClient.RequestOptions,
    ): Promise<core.WithRawResponse<DtgAgentSdk.GetKnowledgeResponse>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.DtgAgentSdkEnvironment.Production,
                `api/v1/knowledge/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as DtgAgentSdk.GetKnowledgeResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.DtgAgentSdkError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/v1/knowledge/{id}");
    }

    /**
     * @param {DtgAgentSdk.DeleteKnowledgeRequest} request
     * @param {KnowledgeClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.DtgAgentSdkError}
     * @throws {@link errors.DtgAgentSdkTimeoutError}
     *
     * @example
     *     await client.knowledge.deleteKnowledge({
     *         id: "id"
     *     })
     */
    public deleteKnowledge(
        request: DtgAgentSdk.DeleteKnowledgeRequest,
        requestOptions?: KnowledgeClient.RequestOptions,
    ): core.HttpResponsePromise<DtgAgentSdk.DeleteKnowledgeResponse> {
        return core.HttpResponsePromise.fromPromise(this.__deleteKnowledge(request, requestOptions));
    }

    private async __deleteKnowledge(
        request: DtgAgentSdk.DeleteKnowledgeRequest,
        requestOptions?: KnowledgeClient.RequestOptions,
    ): Promise<core.WithRawResponse<DtgAgentSdk.DeleteKnowledgeResponse>> {
        const { id, "Idempotency-Key": idempotencyKey } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Idempotency-Key": idempotencyKey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.DtgAgentSdkEnvironment.Production,
                `api/v1/knowledge/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as DtgAgentSdk.DeleteKnowledgeResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.DtgAgentSdkError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/api/v1/knowledge/{id}");
    }
}
