// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as DtgAgentSdk from "../../../index.js";

export declare namespace McpServersClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * MCP server management
 */
export class McpServersClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<McpServersClient.Options>;

    constructor(options: McpServersClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {McpServersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.DtgAgentSdkError}
     * @throws {@link errors.DtgAgentSdkTimeoutError}
     *
     * @example
     *     await client.mcpServers.listMcpServers()
     */
    public listMcpServers(
        requestOptions?: McpServersClient.RequestOptions,
    ): core.HttpResponsePromise<DtgAgentSdk.ListMcpServersResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listMcpServers(requestOptions));
    }

    private async __listMcpServers(
        requestOptions?: McpServersClient.RequestOptions,
    ): Promise<core.WithRawResponse<DtgAgentSdk.ListMcpServersResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.DtgAgentSdkEnvironment.Production,
                "api/v1/mcp-servers",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as DtgAgentSdk.ListMcpServersResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.DtgAgentSdkError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/v1/mcp-servers");
    }

    /**
     * @param {DtgAgentSdk.McpServerCreateRequest} request
     * @param {McpServersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.DtgAgentSdkError}
     * @throws {@link errors.DtgAgentSdkTimeoutError}
     *
     * @example
     *     await client.mcpServers.createMcpServer({
     *         name: "name"
     *     })
     */
    public createMcpServer(
        request: DtgAgentSdk.McpServerCreateRequest,
        requestOptions?: McpServersClient.RequestOptions,
    ): core.HttpResponsePromise<DtgAgentSdk.CreateMcpServerResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createMcpServer(request, requestOptions));
    }

    private async __createMcpServer(
        request: DtgAgentSdk.McpServerCreateRequest,
        requestOptions?: McpServersClient.RequestOptions,
    ): Promise<core.WithRawResponse<DtgAgentSdk.CreateMcpServerResponse>> {
        const { "Idempotency-Key": idempotencyKey, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Idempotency-Key": idempotencyKey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.DtgAgentSdkEnvironment.Production,
                "api/v1/mcp-servers",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as DtgAgentSdk.CreateMcpServerResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.DtgAgentSdkError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/v1/mcp-servers");
    }

    /**
     * @param {DtgAgentSdk.ListMcpServerToolsRequest} request
     * @param {McpServersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.DtgAgentSdkError}
     * @throws {@link errors.DtgAgentSdkTimeoutError}
     *
     * @example
     *     await client.mcpServers.listMcpServerTools({
     *         id: "id"
     *     })
     */
    public listMcpServerTools(
        request: DtgAgentSdk.ListMcpServerToolsRequest,
        requestOptions?: McpServersClient.RequestOptions,
    ): core.HttpResponsePromise<DtgAgentSdk.ListMcpServerToolsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listMcpServerTools(request, requestOptions));
    }

    private async __listMcpServerTools(
        request: DtgAgentSdk.ListMcpServerToolsRequest,
        requestOptions?: McpServersClient.RequestOptions,
    ): Promise<core.WithRawResponse<DtgAgentSdk.ListMcpServerToolsResponse>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.DtgAgentSdkEnvironment.Production,
                `api/v1/mcp-servers/${core.url.encodePathParam(id)}/tools`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as DtgAgentSdk.ListMcpServerToolsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.DtgAgentSdkError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v1/mcp-servers/{id}/tools",
        );
    }

    /**
     * @param {DtgAgentSdk.McpServerToolCreateRequest} request
     * @param {McpServersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link DtgAgentSdk.BadRequestError}
     * @throws {@link DtgAgentSdk.UnauthorizedError}
     * @throws {@link DtgAgentSdk.ForbiddenError}
     * @throws {@link DtgAgentSdk.NotFoundError}
     * @throws {@link errors.DtgAgentSdkError}
     * @throws {@link errors.DtgAgentSdkTimeoutError}
     *
     * @example
     *     await client.mcpServers.createMcpServerTool({
     *         id: "id",
     *         kind: "rest",
     *         slug: "slug",
     *         display_name: "display_name"
     *     })
     */
    public createMcpServerTool(
        request: DtgAgentSdk.McpServerToolCreateRequest,
        requestOptions?: McpServersClient.RequestOptions,
    ): core.HttpResponsePromise<DtgAgentSdk.CreateMcpServerToolResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createMcpServerTool(request, requestOptions));
    }

    private async __createMcpServerTool(
        request: DtgAgentSdk.McpServerToolCreateRequest,
        requestOptions?: McpServersClient.RequestOptions,
    ): Promise<core.WithRawResponse<DtgAgentSdk.CreateMcpServerToolResponse>> {
        const { id, "Idempotency-Key": idempotencyKey, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Idempotency-Key": idempotencyKey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.DtgAgentSdkEnvironment.Production,
                `api/v1/mcp-servers/${core.url.encodePathParam(id)}/tools`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as DtgAgentSdk.CreateMcpServerToolResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new DtgAgentSdk.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new DtgAgentSdk.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new DtgAgentSdk.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new DtgAgentSdk.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.DtgAgentSdkError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v1/mcp-servers/{id}/tools",
        );
    }
}
