// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as DtgAgentSdk from "../../../index.js";

export declare namespace GatewayClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * OpenAI-compatible endpoints
 */
export class GatewayClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<GatewayClient.Options>;

    constructor(options: GatewayClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {GatewayClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.DtgAgentSdkError}
     * @throws {@link errors.DtgAgentSdkTimeoutError}
     *
     * @example
     *     await client.gateway.listModels()
     */
    public listModels(requestOptions?: GatewayClient.RequestOptions): core.HttpResponsePromise<DtgAgentSdk.ModelList> {
        return core.HttpResponsePromise.fromPromise(this.__listModels(requestOptions));
    }

    private async __listModels(
        requestOptions?: GatewayClient.RequestOptions,
    ): Promise<core.WithRawResponse<DtgAgentSdk.ModelList>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.DtgAgentSdkEnvironment.Production,
                "v1/models",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as DtgAgentSdk.ModelList, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.DtgAgentSdkError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/models");
    }

    /**
     * @param {DtgAgentSdk.ChatCompletionRequest} request
     * @param {GatewayClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.DtgAgentSdkError}
     * @throws {@link errors.DtgAgentSdkTimeoutError}
     *
     * @example
     *     await client.gateway.createChatCompletion({
     *         model: "model",
     *         messages: [{
     *                 role: "system",
     *                 content: "content"
     *             }]
     *     })
     */
    public createChatCompletion(
        request: DtgAgentSdk.ChatCompletionRequest,
        requestOptions?: GatewayClient.RequestOptions,
    ): core.HttpResponsePromise<DtgAgentSdk.ChatCompletion> {
        return core.HttpResponsePromise.fromPromise(this.__createChatCompletion(request, requestOptions));
    }

    private async __createChatCompletion(
        request: DtgAgentSdk.ChatCompletionRequest,
        requestOptions?: GatewayClient.RequestOptions,
    ): Promise<core.WithRawResponse<DtgAgentSdk.ChatCompletion>> {
        const { "X-Hermes-Session-Id": hermesSessionId, "X-Hermes-Thread-Id": hermesThreadId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Hermes-Session-Id": hermesSessionId, "X-Hermes-Thread-Id": hermesThreadId }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.DtgAgentSdkEnvironment.Production,
                "v1/chat/completions",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as DtgAgentSdk.ChatCompletion, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.DtgAgentSdkError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/chat/completions");
    }
}
